* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: rgb(216, 211, 211);
}


form {
    min-width: 600px;
    padding-top: 5vh;
    width: 40vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 0 auto 35vh;
    text-align: center;
    text-transform: uppercase;
}

form label {
    font-size: 34px;
    color: #663c26;


}

form input {
    margin-top: 3vh;
    margin-left: 2vw;

}

form span {
    color: #114B5F;
    font-weight: bold;

}

form button {
    margin-top: 4vh;
    width: 45%;
    height: 7vh;
    padding: 10px;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    background-color: #E4FDE1;
    transition: 0.2s;
    letter-spacing: 2px;
}

form button:hover {
    font-size: 30px;
    letter-spacing: 3px;
}

div.draw__word {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

div.draw__word div {
    /* flex-grow: 1; */
    border-bottom: 3px solid darkgoldenrod;
    border-radius: 5%;
    text-align: center;
    flex-basis: 10%;
    /* background-color: darksalmon; */

    padding-bottom: 10px;

}

div.draw__word div span {
    font-size: 32px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgb(146, 101, 5);
    display: none;

}

div.draw__word div span.active {
    display: inline;
}

div.letters {
    position: absolute;
    /* min-width: 600px; */
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 80vw;
    grid-column-gap: 7px;
    grid-row-gap: 7px;


}

div.letters div {


    text-transform: uppercase;
    height: 50px;
    background-color: blanchedalmond;
    font-family: 'Architects Daughter', cursive;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px chocolate;
    cursor: pointer;
    transition: 0.2s;
}

.letters div:hover {
    font-size: 32px;
}